.button {
	display: inline-block;
	padding: 7px 20px;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(221, 221, 221, 1);
	background: rgba(221, 221, 221, 0.25);
	user-select: none;
	color: #666;
	font-weight: 400;
	border-radius: 3px;
	font-size: 13px;
	cursor: pointer;
}

.button:hover {
	background: rgba(221, 221, 221, 0.2);
}

.button:focus,
.button:active {
	background: rgba(221, 221, 221, 0.1);
}

.type_primary {
	color: #fff;
	background: rgba(0, 114, 255, 1);
	border: 1px solid #025bca;
}

.type_primary:hover {
	background: rgba(0, 114, 255, 0.95);
}

.type_primary:focus,
.type_primary:active {
	background: rgba(0, 114, 255, 0.8);
}

.type_secondary {
	color: #fff;
	background: rgba(255, 130, 0, 0.8);
	border: 1px solid rgb(235, 120, 0);
}

.type_secondary:hover {
	background: rgba(252, 174, 0, 0.95);
}

.type_secondary:focus,
.type_secondary:active {
	background: rgba(252, 174, 0, 0.8);
}
