.container {

}

.tabs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.tab {
	padding: 10px 5px;
	border-bottom: 1px solid #ddd;
	min-width: 100px;
	cursor: pointer;
	user-select: none;
	color: #999;
}

.tabActive {
	color: #666;
	border-bottom: 1px solid rgba(126, 166, 255, 1);
}

.tabPanel {
	padding: 10px 5px;
}
