.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	position: relative;
	background: #fff;
	min-width: 450px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.close {
	cursor: pointer;
	position: relative;
	border: 1px solid #ddd;
	border-radius: 25px;
	width: 35px;
	height: 35px;
}

.close:hover {
	border: 1px solid #ccc;
}

.close:before,
.close:after {
	position: absolute;
	content: "";
	width: 15px;
	border-top: 1px solid #ccc;
	transform: rotate(45deg);
	left: 10px;
	top: 17px;
}

.close:after {
	transform: rotate(-45deg);
}

.content, .header, .footer {
	padding: 10px 20px;
}

.content {
	flex: 1 1 0;
}

.footer {
	border-top: 1px solid #ddd;
}
