.container {
	display: flex;
}

.checkbox {
	position: relative;
	width: 17px;
	height: 17px;
}

.checkbox > input[type="checkbox"] {
	opacity: 0;
	outline: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: pointer;
}

.checkbox > svg {
	width: 17px;
	height: 17px;
	position: absolute;
	top: 0;
	left: 0;
}

.container > label {
	position: relative;
	display: block;
	padding-left: 10px;
	outline: 0;
	font-size: 13px;
}
